{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Ed Simple CRUD Go lang Page</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Ed Simple CRUD Go lang Page</h1>   
{{ end }}